.trans{
    width: 250px;
    height: 200px;
}
.trans1:hover{ /*- : 왼쪽 */
    transform: translate(100px);
}
.trans2:hover{
    transform: translateY(100px);
}
.trans3:hover{
    transform: translate(100px, 30px);
}
.trans4:hover{
    transform: scaleX(2);
}
.trans5:hover{
    transform: scaleY(2);
}
.trans6:hover{
    transform: scale(1.5);
}
.trans7:hover{
    transform: rotate(45deg);
}
.div{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    background-color: #f00;
}
.trans8{  /*displace none 안됨 */
    transition-duration: 2s;
}
.trans8:hover{
    transition-duration: 2s;
    width: 200px;
    height: 200px;
    background-color: #00f;
}
.trans9{
    transition-duration: 3s;
}
.trans9:hover{
    background-color: #0f0;
    transform: rotate(45deg);
    transition-delay: 2s;
}
.img-box{
    width: 300px;
    height: 200px;
    border: 3px solid black;
    overflow: hidden; /*숨겨~*/
}
.img-box>img{
    width: 100%;
    height: 100%;
    transition-duration: 0.2s;
}
.img-box>img:hover{
    transform: scale(1.1);
}
.img{
    margin: 100px;
    width: 300px;
    height: 300px;
    border: 3px solid red;
    border-radius: 150px;
}
.img:hover{
    animation: ani1 ;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes ani1 {
    from{
        background-color: #ff0;
    }
    30%{
        background-color: #00f;
    }
    60%{
        background-color: #0ff;
    }
    to{
        background-color: #0f0;
        transform: rotate(360deg);
    }
}