/*속성 선택자*/
[name=name2]{
    color: violet;
}
div[name=name1]{
    color: red;
}
div[class=div-class3]{
    color: aqua;
}
div[class^=div]{
    background-color: cadetblue;
}

/*자손 선택자*/
#div1>h3{
    color: rgb(200, 241, 16);
}

#div1>h2{
    color: purple;
}

/*후손 선택자*/
#div1 li{
    background-color: lightgray;
}
/*
#div1>*{   전체
    background-color: yellow;
}
*/

#div1 h3{
    background-color: yellow;
}

/*동위 선택자*/
/*
#div2>.test2+div{
    color: red;
}

#div2>.test2~div{
    background-color: aqua;
}
*/
#div2>div+div{
    color: blueviolet;
}

/*반응 선택자*/
.action-div{
    width: 300px;
    height: 300px;
    background-color: tomato;
}

.active-test:active{
    background-color: yellow;
}

.hover-test:hover{
    background-color: yellow;
}

/*상태선택자*/
input[name=hobby]:checked{
    width: 20px;
    height: 20px;
}

input[name=name]:read-only{
    background-color: aquamarine;
}

input:disabled{
    background-color: black;
}

input[name=id]:focus{
    background-color: yellow;
}